

/* TABLAS */
.table-dark {
    --bs-table-bg: #5600a8;
}

.table-light {
    --bs-table-bg: #ffede5;
}



/* DATATABLES */
.dataTables_wrapper .dataTables_filter {
    display: none;
}

.dataTables_wrapper .dataTables_length select{
    width: 50px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .page-link {
  color: #5600A8; 
  background-color: transparent; 
  border: 1px solid #5700a87c; 


}

.dataTables_wrapper .dataTables_paginate .paginate_button.active .page-link {
  color: #fff;
  background-color: #5600A8; 
  border: 1px solid #5700a87c; 
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover .page-link {
  color: #fff; 
  background-color: #5600A8; 
  border: 1px solid #5700a87c; 
  

}

/* BOTON */
.btn-outline-primary.custom-hover:hover .material-icons {
    color: white; /* Cambia el color del icono a blanco */
}
