/* SIDENAV */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5600A8;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover, a.active, .active{
    color: #F95E9C;
}

.active-btn {
    background-color: #FF4716;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #41007e;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.content {
    margin-left: 260px; /* Leave space for sidebar */
    padding: 20px;
}

.logo-container {
    display: flex;               /* Usa flexbox para centrar */
    justify-content: center;     /* Centra horizontalmente */
    align-items: center;         /* Centra verticalmente */
    background-color: #FFF;     /* Fondo blanco */
    height: 200px;               /* Altura de 200px para el contenedor */
    margin-bottom: 20px;         /* Espacio inferior si lo necesitas */
}

.logo {
    width: 200px;                /* Ancho de la imagen */
    height: 200px;               /* Alto de la imagen */
    object-fit: contain;         /* Mantiene la proporción de la imagen */
}

.logout-container {
    position: absolute;
    bottom: 20px; /* Espacio desde la parte inferior */
    right: 10px; /* Ajusta según sea necesario */
}

.logout-button {
    padding: 6px 8px;
    font-size: 20px;
    color: #fff;
    background-color: #FF4716; /* Color del botón */
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.logout-button:hover {
    background-color: #F95E9C; /* Color al pasar el mouse */
}


/* TABLAS */
.table-dark {
    --bs-table-bg: #5600A8;
}

.table-light {
    --bs-table-bg: #FFEDE5;
}

/* DATATABLES */
.dataTables_wrapper .dataTables_filter {
    display: none;
}

/* BOTON */
.btn-outline-primary.custom-hover:hover .material-icons {
    color: white; /* Cambia el color del icono a blanco */
}





