/* TABLAS */
.table-dark {
    --bs-table-bg: #5600A8;

}

.table-light {
    --bs-table-bg: #FFEDE5;

}

/* DATATABLES */
.dataTables_wrapper .dataTables_filter {
display: none;
}

/* NAVBAR */
.dropdown-menu .dropdown-item.active {
    color: #ffffff; /* Color del texto activo */
    background-color: #FF4716; /* Color de fondo del elemento activo */
}



